@charset "UTF-8";

body {
    background-color: rgb(169, 169, 169);
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    min-height: 959px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

header {
    background-color: rgb(0, 0, 0);
    color: white;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    height: 300px;
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 50px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    unicode-bidi: isolate;
    width: auto;
}

p {
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 33.04px;
    line-height: 66.08px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 5px;
    text-shadow: rgb(0, 0, 0) 1px 1px 0px;
    unicode-bidi: isolate;
}

.normal {
    background-color: white;
    color: black;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 66.08px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 95.9px;
    padding-right: 0px;
    padding-bottom: 95.9px;
    padding-left: 30px;
}